a[href="index.html"]{
color: red !important;

}
/*Desktop view*/
@media screen and (min-width:760px){

html{
background: url(landscapebg.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.content{
max-width:1000px;
margin:0 auto;
}

#header  header{
background:white;
padding-top: 15px;
padding-bottom: 10px;
}

#header header img{
height: 150px;
width: 215px;
}

#navbar nav{
background: rgba(0,0,0,0.6);
}

#navbar nav ul li{
display: inline-block;
padding-left: 40px;
padding-right: 40px;
padding-top: 25px;
padding-bottom: 25px;
}

#navbar nav ul li a{
font-family: "century gothic";
font-weight: bold;
text-decoration: none;
color: white;
transition: .4s;
border-radius: 2px;
padding-left: 6px;
padding-right: 6px;
padding-top: 6px;
padding-bottom: 6px;
}

#navbar nav ul li:hover{
background: black;
transition: .8s;
}

#navbar nav ul li a:hover{
background: #B0CBAD;
}

#main main{
background:rgba(88, 166, 144, 0.9);
color: white;
letter-spacing: 1px;
justify-content: center;
align-items: center;
padding-top: 150px;
padding-bottom: 150px;
padding-left: 40px;
padding-right: 40px;
margin-bottom: 10px;
font-family: "century gothic";
}
#main main .hrc{
color:#EC5E64;
font-weight: bold;
font-size: 40px;
letter-spacing: 15px;
animation: text 3s 1;
}
@keyframes text {
0%{
  color: rgba(88, 166, 144, 0.9);
  margin-top: -60px;
  letter-spacing: -15px;
}
30%{
  color: black;
  margin-top: 0px;
  letter-spacing: -5px;
}
70%{
  color: black;
}

}

#footer footer{
background: #E1B975;
padding-top: 40px;
padding-bottom: 40px;
font-family: "century gothic";
letter-spacing: 3px;
}


/*contact section*/
.contact main{
background:rgba(88, 166, 144, 0.9);
color: white;
letter-spacing: 1px;
justify-content: center;
align-items: center;
padding-top: 150px;
padding-bottom: 150px;
padding-left: 40px;
padding-right: 40px;
margin-bottom: 10px;
font-family: "century gothic";
}

.contact main h4{
color: white;
letter-spacing: 1px;
font-family: sans-serif;
}

.contact main h4 img{
width: 20px;
}

/*Attendance section*/
.attendance{
background:rgba(88, 166, 144, 0.9);
justify-content: center;
align-items: center;
padding-top: 10px;
padding-bottom: 690px;
padding-left: 40px;
padding-right: 40px;
margin-bottom: 10px;
color: black !important;
font-family: "century gothic";
}

.attendance h1{
color: white;
letter-spacing: 1px;
font-family: "century gothic";
}

.attendance .search{
float: left;
background: rgba(225, 203, 154, 0.9);
color: black;
letter-spacing: 1px;
font-family: "century gothic";
width:290px;
margin-left: 30px;
padding: 30px 20px 30px 20px;
border-radius: 6px;
}
.attendance .search button{
float: right;
margin-right: 16px;
margin-top: 20px;
}

.attendance .record{
float: right;
background: white;
}
.attendance .record table {
width: 500px;
}
.attendance .record table tr,td,th{
justify-content: center;
align-items:center;
border: 1px;
border-style: groove;
}

/*Leave application section*/

.form{
background:rgba(88, 166, 144, 0.9);
justify-content: center;
align-items: center;
padding-top: 10px;
padding-bottom: 100px;
padding-left: 40px;
padding-right: 40px;
margin-bottom: 10px;
color: black !important;
font-family: "century gothic";
}

.form h1{
color: white;
letter-spacing: 1px;
font-family: "century gothic";
}

.form p{
padding-left: 315px;
}

.form form{
background: rgba(225, 203, 154, 0.9);
color: black;
font-family: "century gothic";
width:290px;
margin-left: 30px;
padding: 30px 550px 30px 20px;
border-radius: 6px;
}
.form form label{
padding-right: 2px;
padding-bottom: 10px;
margin: 20px 0px 20px 0px;
width: 400px;
}
.form form input{
margin-bottom: 10px;
}
.form form br{
padding: 5px 5px 5px 5px;
}



.about + main{
background:rgba(88, 166, 144, 0.9);
color: white;
letter-spacing: 1px;
padding-top: 150px;
padding-bottom: 150px;
padding-left: 40px;
padding-right: 40px;
margin-bottom: 10px;
font-family: "century gothic";
}
}


/*mobile view*/
@media screen and (max-width:760px){
body{
  background: url("potraitbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
  grid-template-areas:
    "header header header header"
    "navbar navbar navbar navbar"
    "main main main main"
    "footer footer footer footer"

}
.content > *{
  background: rgba(255,255,255,0.4);
}

#header{
  grid-area: header;
  background: white !important;
}
#header header img{
  height: 100px;
  width: 150px;
}
#navbar{
  grid-area: navbar;
  background: rgba(0,0,0,0.6) !important;
  padding-right: 30px;
}
#navbar nav ul{
  list-style: none;
}
#navbar nav ul li{
padding: 10px 0px 10px 0px;
transform: skewY(4deg) !important;

}
#navbar nav ul li a{
  grid-area: navbar;
  font-family: "century gothic";
  color: white;
  transition: .4s;
  text-decoration: none;
}
#navbar nav ul li:hover{
  background: black;
  transition: .8s;
}

#main{
  grid-area: main;
  background:rgba(88, 166, 144, 0.4) !important;
  color: white;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-family: "century gothic";
}
#main main h1{
  font-size: 25px;
}
#main main h2{
  font-size: 16px;
}
#main main .hrc{
color:#EC5E64;
font-weight: bold;
font-size: 30px;
letter-spacing: 15px;
animation: text 3s 1;
}
@keyframes text {
0%{
  color: rgba(88, 166, 144, 0.9);
  margin-top: -60px;
  letter-spacing: -15px;
}
30%{
  color: black;
  margin-top: 0px;
  letter-spacing: -5px;
}
70%{
  color: black;
}

}

#footer{
  grid-area:footer;
  background: #E1B975;
  font-family: "century gothic";
  letter-spacing: 3px;
  padding-top: 37px;
}
/*Attendance section*/
.attendance{
background:rgba(88, 166, 144, 0.9);
justify-content: center;
align-items: center;
padding-top: 10px;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 10px;
color: black !important;
font-family: "century gothic";
}

.attendance h1{
color: white;
letter-spacing: 1px;
font-family: "century gothic";
}

.attendance .search{

background: rgba(225, 203, 154, 0.9);
color: black;
letter-spacing: 1px;
font-family: "century gothic";
margin-bottom: 10px;
padding: 20px 20px 20px 20px;
border-radius: 6px;
}
.attendance .search button{
margin-top: 20px;
}

.attendance .record{
background: white;
}
.attendance .record table {
font-size: 9.5px;
}
.attendance .record table tr,td,th{
justify-content: center;
align-items:center;
border: 1px;
border-style: groove;
}
.attendance{
  grid-area: attendance;
}

/*Leave application section*/
.form{
background:rgba(88, 166, 144, 0.9);
justify-content: center;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 10px;
color: black !important;
font-family: "century gothic";
}

.form h1{
color: white;
letter-spacing: 1px;
font-family: "century gothic";
}

.form p{

}

.form form{
background: rgba(225, 203, 154, 0.9);
color: black;
font-family: "century gothic";
font-size: 13px;
margin-left: 10px;
padding: 10px 10px 10px 10px;
border-radius: 6px;
}
.form form label{
padding-right: 2px;
padding-bottom: 10px;
margin: 20px 0px 20px 0px;
width: 400px;
}
.form form input{
margin-bottom: 10px;
}
.form form br{
padding: 5px 5px 5px 5px;
}
#address1{
  width: 200px;
  height: 50px;
}
#address2{
  width: 200px;
  height: 50px;
}
#Justification{
  width: 200px;
  height: 80px;
}
#form{
  grid-area: form;
}


#main .contact{
  color: white;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  font-family: "century gothic";
}
.contact main h4{
  text-align: left;
  color: white;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 14px;
}
.contact main h4 img{
  width: 20px;
}

#about{
  grid-area: about;
}
#about main{
  grid-area: about;
  background:rgba(88, 166, 144, 0.4) !important;
  color: white;
  letter-spacing: 1px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-family: "century gothic";
  font-size: 14px;
}
}
